<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h1>An app with authentication!</h1>
  <h2>Login to continue</h2>
  <form action="/" method="post">
    <fieldset>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username">
      <label for="password">Password</label>
      <input type="text" name="password" placeholder="password">
      <div class="form__submit-button">
        <input type="submit">
      </div>
    </fieldset>
  </form>
</body>

</html>
